<div id="editor">
	<div class="pages_area">
		<div class="page text_page" id="page_1">
			<%= image_tag "grass.jpg", :style => "height: 1024px;" %>
			<div class="h1_tag" style="display: none; position: absolute; top: 250px; left: 75px;">
				<textarea name="magazine_title" width="100px" style="min-width: 0px;"></textarea>
			</div>
		</div>
		<div class="page text_page" id="page_2" style="height: 1024px;">
			<div class="text_block_object" style="display: none; position: absolute; left: 50px; width: 300px; top: 50px;">
				<textarea name="text_column_a" style="width: 300px; height: 925px"></textarea>
			</div>
			<div class="text_block_object" style="display: none; position: absolute; left: 375px; width: 300px; top: 50px;">
				<textarea name="text_column_a" style="width: 300px; height: 925px"></textarea>
			</div>
		</div>
	</div>
</div>

<% content_for :sidebar do %>
	<div class="pages">
		<div class="page" data-page="0">
			<div class="page_title">Title Page</div>
		</div>
		<div class="page" data-page="1">
			<div class="page_title">Content Page</div>
		</div>
		<div class="add_page">
			<%= link_to "Add Page", "#", :id => "add_page_button" %>
		</div>
	</div>
<% end %>