@import "compass";
@import "compass/css3";
@import "compass/utilities";
@import "compass/reset";
@import "objects";

body{
	font-family: "Helvetica Neue", sans-serif;
	margin: 0px;
	@include background(inline-image("dark_tire.png"));
	//position: absolute;
	//overflow:hidden;
}
#editor_canvas{
	margin-left: 250px;
	//padding-left: 250px;
	//background-color: white;
	@include box-shadow(#000 0 0 10px);
	width: 768px;
	height: 1024px;
	//position: fixed;
	//overflow-y: hidden;
  	overflow: auto;
	.pages_area{
		width: 3000px;
		.page {
			@include inline-block;
			overflow: hidden;
			//background-color: white;
			position: relative;
			width: 768px;
			height: 1024px;
			//margin-bottom: 20px;
			//height: 1024px;
		}
	}
	bottom: 36px;
	
}

#sidebar{
	//background: #222;
	position: fixed;
	@include background(inline-image("dark_tire.png"));
	//display: absolute;
	//height: 100%;
	top: 0;
	bottom: 56px;
	//float: left;
	width: 250px;
	padding-bottom: 20px;
	z-index: 99999;
	overflow-y: scroll;
	overflow-x: hidden;
}

.pages .page{
	margin: 20px auto;
	background-color: #FFF;
	width: 150px;
	height: 200px;
	@include clearfix;
	@include box-shadow(#000 0 2px 5px);
	.page_title{
		margin: 20px;
		text-align: center;
	}
}

.toolbar{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: black;
	padding: 20px;
	@include background(linear-gradient(color-stops(#333, #222)), #222);
	@include text-shadow(#000 0 -1px 0);
	@include box-shadow(rgba(0,0,0,0.5) 0 -2px 20px);
	a {
		color: #ccc;
		text-decoration: none;
	}
}

.clear { display: none; }
